$debug: false;

$spacer: 30px;
$background_section: #2C314D;
$background_section0: #C63D0F;
$background_section1: #1BBC9B;
$background_section2: #7E8F7C;
$background_section3: #7E8F7C;
$background_box_darken_percentage: 10;
